<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acerca de</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <header>
      <h1>Práctica del Tema 2 - DIW</h1>
      <p>Bienvenido a mi sitio web en el cual aplicamos Accesibilidad</p>
    </header>
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="acercaDe.html">Acerca de</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>

    <main>
      <section>
        <h3>Sección con la descripción de la Accesibilidad web</h3>
        <p>
          La accesibilidad web es la práctica inclusiva de asegurar que no
          existan barreras que impidan la interacción o el acceso a sitios web
          en la World Wide Web por parte de personas con discapacidades físicas,
          discapacidades situacionales y otros tipos de discapacidades. La
          accesibilidad web se enfoca en garantizar que los sitios web sean
          utilizables por el mayor número de personas posible,
          independientemente de sus conocimientos o capacidades personales, así
          como de las características técnicas del equipo utilizado para acceder
          a la web. La accesibilidad web abarca todas las discapacidades que
          afectan al acceso a la web, incluyendo discapacidades auditivas,
          cognitivas, neurológicas, físicas, del habla y visuales. La
          accesibilidad web también beneficia a personas sin discapacidad, como
          por ejemplo personas utilizando teléfonos móviles, relojes
          inteligentes, televisores inteligentes y otros dispositivos con
          pantallas pequeñas, diferentes modos de entrada, etc. La accesibilidad
          web es esencial para desarrolladores y organizaciones que quieren
          crear sitios y herramientas web de calidad y no excluir personas del
          uso de sus productos y servicios.
        </p>
      </section>
    </main>

    <footer>
      <p>
        Correo electrónico: alejandrosantosgarcia@alumnos.tuniversformacion.es
      </p>
      <p>Teléfono: 666555444</p>
    </footer>
  </body>
</html>
