<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <header>
      <h1>Práctica del Tema 2 - DIW</h1>
      <p>Bienvenido a mi sitio web en el cual aplicamos Accesibilidad</p>
    </header>
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="acercaDe.html">Acerca de</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>

    <main>
      <section>
        <img src="../assets/image.jpg" alt="Autor del simulacro" />
        <h3>Alex Santos García</h3>
        <p>Bla bla bla...</p>
      </section>
    </main>

    <footer>
      <p>
        Correo electrónico: alejandrosantosgarcia@alumnos.tuniversformacion.es
      </p>
      <p>Teléfono: 666555444</p>
    </footer>
  </body>
</html>
